@model Demeter_v2.Models.Crop

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Crop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.S_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nutrition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nutrition)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
