@model Demeter_v2.Model.Survival

@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Test", "Survivals", FormMethod.Post, new { id = "Test" }))
{
    <section id="contact" class="contact section-bg">
        <div class="container" style="padding-top:150px">
            <div class="section-title">
                <h2>Take a land test</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Intensity, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DropDownList("Intensity", new List<SelectListItem>
                     { new SelectListItem { Text = "Low", Value = "Low", Selected=true},
                       new SelectListItem { Text = "Medium", Value = "Medium"},
                       new SelectListItem { Text = "High", Value = "High"}
                       }, "Select Intensity")
                @Html.ValidationMessageFor(model => model.Intensity, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DropDownList("Area", new List<SelectListItem>
                    { new SelectListItem { Text = "Small", Value = "Small", Selected=true},
                      new SelectListItem { Text = "Medium", Value = "Medium"},
                      new SelectListItem { Text = "Large", Value = "Large"}
                      }, "Select Area")
                @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Seeding, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DropDownList("Seeding", new List<SelectListItem>
                   { new SelectListItem { Text = "Yes", Value = "Yes", Selected=true},
                     new SelectListItem { Text = "No", Value = "No"} 
                     }, "Select Seeding")
                @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
            </div>
            <!-- Form Submit -->
            <div class="form-submit mt-5">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" id="bttn_Submit" />
                </div>
            </div>

            <div class="form-group" style="padding-top:20px;text-align:center">

                <label>Result:</label> @ViewBag.Test
            </div>

            </div>
</section><!-- End Contact Us Section -->
}
